<ion-header>
  <ion-navbar>
    <ion-title>Currency converter</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to converter</h2>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <form [formGroup]="converterForm" (ngSubmit)="convert()">
    <ion-item>
      <ion-label>Enter amount</ion-label>
      <ion-input type="number" formControlName="currencyValue"></ion-input>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-label>From</ion-label>
        <ion-select formControlName="currencyFrom">
          <ion-option *ngFor="let curr of items" value="{{curr.code}}">{{curr.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>To</ion-label>
        <ion-select formControlName="currencyTo">
          <ion-option *ngFor="let curr of items" value="{{curr.code}}">{{curr.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div class="answer" padding *ngIf="value">
      {{reqObj.currencyValue | currency:reqObj.currencyFrom:'symbol':'1.2-2'}} = {{value |
      currency:reqObj.currencyTo:'symbol':'4.2-2'}}
    </div>
    <button ion-button type="submit">Submit</button>
  </form>
</ion-content>
