<ion-header>
  <ion-navbar>
    <ion-title>Currency converter</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to converter</h2>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <form [formGroup]="converterForm" (ngSubmit)="convert()">
    <ion-item>
      <ion-label floating>Enter amount</ion-label>
      <ion-input type="number" formControlName="currencyValue"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col col-6>
        <ion-label>
          From
        </ion-label>
        <ion-select formControlName="currencyFrom">
          <ion-option *ngFor="let curr of items" value="{{curr.code}}">{{curr.name}}</ion-option>
        </ion-select>
      </ion-col>
      <ion-col col-6>
        <ion-label>
          To
        </ion-label>
        <ion-select formControlName="currencyTo">
          <ion-option *ngFor="let curr of items" value="{{curr.code}}">{{curr.name}}</ion-option>
        </ion-select>

      </ion-col>
    </ion-row>


    <div padding class="outputVal" *ngIf="value">
      <div class="symbol">
        {{symbol[0]}}
      </div>

      <div class="value">
        {{value}}
      </div>


    </div>
    <button ion-button type="submit">Submit</button>
  </form>
</ion-content>